<div>
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Universis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Courses</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link">{{user.name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth/logout']">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
  </div>